p {
    padding-top: 20px;
}

.hobby {
    padding-top: 40px;
}

.hobby__titulo {
	text-align: center;
}

.hobby__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hobby__item {
    max-width: 350px;
    box-sizing: border-box;
    padding: 2rem 0 2rem 5rem;
    background-position: top 1.25rem left 2.5rem;
}

.item__titulo {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.imagen {
	padding: 10px;

}